.image {
    width: 180px;
    height: 180px;
}

.card {
    width: 250px;
    height: 420px;
    box-shadow: 1px 4px 3px lightgray;
    border-radius: 10px;
    margin: 15px;
}

.card:hover {
    box-shadow: 2px 5px 4px rgb(139, 139, 139);
    transition: all 0.3s;
    cursor: pointer;
}

.card-title {
    text-align: center;
    height: 70px;
}

.detail-button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(77, 77, 77);
    color: #fff;

}

.detail-button:hover {
    cursor: pointer;
    background-color: rgb(212, 164, 101);
}